.containerAgendamentos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
.formAgendamentos {
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 90%;
  margin: auto;
  margin-bottom: 1em;
  gap: 0.5em;
}
.formAgendamentos label {
  display: block;
}
.formAgendamentos div .Select {
  width: 100%;
}
.formAgendamentos .divBtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
table {
  width: 80%;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  overflow: hidden;
  border-collapse: collapse;
  margin-bottom: 2em;
}
thead {
  background-color: #d4d0d5;
  width: 100%;
}

th,
td {
  padding: 8px 10px;
  text-wrap: nowrap;
}
td:first-child {
  text-wrap: wrap;
}
th,
tr:not(:last-child) {
  border-bottom: 1px solid #383b47;
}
td {
  font-size: 0.8em;
}
.tdCenter {
  text-align: center;
}
