.containerCliente {
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin: 0 auto 1em;
}
.containerCliente div h2 {
  text-align: center;
}
.containerCliente div input {
  margin: 0;
}

.formCliente {
  padding: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.formCliente label {
  margin-right: 0.5em;
}
.formCliente button,
.inputText {
  max-width: 250px;
}
.inputText {
  line-height: 2;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  background-color: #d4d0d5;
  color: #383b47;
  margin-right: 0.5em;
}
.inputText:focus {
  outline: 2px solid #383b47;
}
.formCliente div {
  margin-right: 1.5em;
}
.formCliente div:last-child {
  display: flex;
  gap: 1em;
}
.btn {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #52648b;
  color: #d4d0d5;
  transition: all ease-in-out 0.3s;
  vertical-align: middle;
}
.btn:hover {
  background-color: #83e4ff;
  color: #52648b;
}
table {
  width: fit-content;
  max-width: 100%;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  overflow: hidden;
  border-collapse: collapse;
  margin-bottom: 2em;
}
thead {
  background-color: #d4d0d5;
  width: 100%;
}

th,
td {
  padding: 8px 10px;
  text-wrap: nowrap;
}
td:first-child {
  text-wrap: wrap;
}
th,
tr:not(:last-child) {
  border-bottom: 1px solid #383b47;
}
td {
  font-size: 0.8em;
}
.tdCenter {
  text-align: center;
}
