.containerCliente {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
.formCliente {
  padding: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.formCliente label {
  margin-right: 0.5em;
}
.formCliente input,
button {
  max-width: 250px;
}
.formCliente input {
  line-height: 2;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  background-color: #d4d0d5;
  color: #383b47;
  margin-right: 2em;
}
.formCliente input:focus {
  outline: 2px solid #383b47;
}
