.cardContent {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.agendaCard {
  width: fit-content;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 3px #383b47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background-color: white;
}
.agendaCard p {
  font-size: 1.2em;
}
.agendaCard span {
  font-size: 2.5em;
  font-weight: 700;
  color: #52648b;
}
.agendaTable {
  /* display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: auto; */
  width: 100%;
  max-width: 100vw;
  margin: 0 auto 1em;
  overflow-x: auto;
}
.agendaTable table {
  width: fit-content;
  max-width: 100%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  /* box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 10px 3px #383b47;
  border-radius: 0.5em;
  overflow: hidden;
  border-collapse: collapse;
}
.agendaTable table * {
  text-wrap: wrap;
}
.agendaTable thead {
  background-color: #d4d0d5;
}
.agendaTable tbody {
  background-color: white;
}

.agendaTable th,
td {
  padding: 8px 10px;
  text-wrap: nowrap;
}
.agendaTable th,
tr:not(:last-child) {
  border-bottom: 1px solid #383b47;
}
.agendaTable td {
  font-size: 0.8em;
}
div:has(.cardContent) {
  min-height: 100vh;
  /* background: rgb(82, 100, 139);
  background: linear-gradient(
    135deg,
    rgba(82, 100, 139, 1) 0%,
    rgba(131, 228, 255, 1) 100%
  ); */
}
