.cliente {
  background-color: #d4d0d5;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
p {
  font-size: 0.8em;
}
.btn {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #52648b;
  color: #d4d0d5;
  transition: all ease-in-out 0.3s;
  font-size: 0.8em;
}
.btn:hover {
  background-color: #83e4ff;
  color: #52648b;
}

.icon {
  vertical-align: middle;
}
